.addproduct {
    .addproduct_inner {
        width: 300px;
        // background-color: blue;

        .title {
            color: white;
        }

        .select_cat {
            background-color: rgba($color: #000000, $alpha: 0.7);
            width: 100%;
            border: 0;
            padding: 10px;
            border-radius: 5px;
            color: #fff;
        }

        .select_image {
            display: inline-block;
            background-color: rgba($color: #000000, $alpha: 0.5);
            border: 2px dashed rgba($color: #000000, $alpha: 0.7);
            border-radius: 3px;
            margin: 10px;
            padding: 5px 8px;
            height: 200px;
            width: 100%;
            outline: none;
            white-space: nowrap;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 700;
            font-size: 10pt;
            position: relative;

            .choose {
                position: absolute;
                top: 0;
                right: 0;
                // min-width: 100%;
                // min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }
        }
    }
}
