.inputbox {
    margin: 0px 0px 5px 0px;

    .txt_input {
        background-color: rgba($color: #000000, $alpha: 0.7);
        width: 100%;
        border: 0;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        box-sizing: border-box;

        &::placeholder {
            color: rgba($color: #fff, $alpha: 0.5);
        }
    }
}
