@import "./responsive//mixin";
@import "./responsive/variables";

* {
    margin: 0;
}

.App {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    // justify-content: center;
    // align-items: center;
    // background-image: url('./assets/Background.jpg');
    background-size: cover;

    @include respond(phone) {
        // align-items: flex-start;
        height: 100rem;
    }
}

p {
    margin: 0;
}
